:root {
    /* Color primitives */
    --color--white: #FFFFFF;
    --color--light-grey: #f5f5ed;
    --color--dark-grey: #21282B;
    --color--cream: #F1F3D8;
    --color--cobalt: #4E5E65;
    --color--yellowy-green: #dfe49f;
    --color--gold: #D2A64D;
    
    /* Tokens */
    --florish: var(--color--gold);

    /* Button */
    --btn--text-color: var(--color--dark-grey);
    --btn--bg-color: var(--color--cream);
    --btn--stroke-color: var(--color--yellowy-green);
    --btn--stroke-weight: 3px;
    --btn--stroke-style: solid;
    --btn--bg-color--hover: var(--color--yellowy-green); 
    --btn--outline: var(--color--dark-grey);
    --btn--border-rad: 50px;
}

html {
    font-size: 10px;
    background-color: var(--color--light-grey);
    color: var(--color--dark-grey);
    margin: 0;
    text-align: center;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

body {
    background-color: var(--color--white);
    margin: 0;
}

h1, h2, h3, p, a {
    margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
    color: var(--color--cobalt);
    font-weight: 400;
    font-family: "Playfair Display", serif;
}

h1 {
    --font-size: 4rem;
    font-size: var(--font-size);
    letter-spacing: calc(var(--font-size) * 0.3);
}

h2 {
    --font-size: 3.2rem;
    font-size: var(--font-size);
    letter-spacing: calc(var(--font-size) * 0.1);
}

h3 {
    --font-size: 2.4rem;
    font-size: var(--font-size);
    letter-spacing: calc(var(--font-size) * 0.1);
}

.p-lrg {
    font-size: 2rem;
}

p, ul, li {
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.3em;
    text-wrap-style: balance;
}

.font__playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    z-index: 1;
}

.wrapper__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
}

#root {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--color--white);

    @media screen and (min-width: 576px) {
        max-width: 576px;
    }
}

#accommodation {
    background-color: var(--color--light-grey);
    padding: 16px 16px;
    border-radius: 8px;
    margin: 16px 0 0;
}

ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    font-size: 1rem;
}

li {
    font-size: 2rem;
    line-height: 3rem;
}

.wrapper__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}