.countdown {
    background-color: var(--color--light-grey);
    color: var(--color--cobalt);
    height: 135px;
    padding: 16px;
    display: flex;
    flex-direction: column;

    @media (min-width: 576px) {
        border-radius: 8px;
    }
}

.wrapper__counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.counter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 4rem;
}

.counter.number {
    min-width: 48px;
}

.counter span {
    font-size: 2rem;
}

