.container__navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 10px;
    padding: 0 20px;
    background-color: #ffffffa8;

    & li {
        padding: 0px 16px;
        font-size: 1.2rem;
        line-height: 2em;
    }

    & a {
        text-decoration: none;

        &:visited {
            color: unset;
        }
    }
}