.container__polaroids {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;   /* if you want multiple rows */
    gap: 2rem;         /* spacing between polaroids */
    height: 1320px;
    padding-top: 60px;
    padding-bottom: 70px !important;
    position: relative;
}

#skip {
    position: absolute;
    top: 0;
}

