.container__polaroids {
    margin: 0 auto;
    /* height: 400px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;   /* if you want multiple rows */
    gap: 2rem;         /* spacing between polaroids */
    /* height: 100vh; */
    height: auto;
    padding-bottom: 70px !important;
    position: relative;
}

#skip {
    position: absolute;
    bottom: 0px;
}